.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
target/
/target/
.idea/
.idea
.repository/
*.iml
*.iws
/build/libs/project-maven-1.0.jar
/lib/javafx-graphics-18.0.1-win.jar
/lib/
